[general]
ffmpeg_path: ffmpeg | avconv | none if using vlc 
vlc_path: /path/to/vlc
videos: [
    {
        'title': "A New Hope",
        'movie_path': "/path/to/movie-file",
        'subtitle_path': "subs/Star_Wars_Episode_IV.srt",
        'slug': 'hope',
    },
    {
        'title': "The Empire Strikes Back",
        'movie_path': "/path/to/movie-file",
        'subtitle_path': "subs/Star_Wars_Episode_V.srt",
        'slug': 'empire',
    },
    {
        'title': "The Return of the Jedi",
        'movie_path': "/path/to/movie-file",
        'subtitle_path': "subs/Star_Wars_Episode_VI.srt",
        'slug': 'return',
    },
    {
        'title': "The Force Awakes",
        'movie_path': "/path/to/movie-file",
        'subtitle_path': "subs/Star_Wars_Episode_VII.srt",
        'slug': 'awakens',
    },
    {
        'title': "The Last Jedi",
        'movie_path': "/path/to/movie-file",
        'subtitle_path': "subs/Star_Wars_Episode_VIII.srt",
        'slug': 'last',
    },]

[imgur]
client_id: imgur_client_id
api_key: imgur_client_secret
[twitter]
app_key: twitter_app_key
app_secret: twitter_app_secret
oauth_token: twitter_oauth_token
oauth_token_secret: twitter_oauth_token_secret
[tumblr]
consumer_key: tumblr_consumer_key
consumer_secret: tumblr_consumer_secret
oauth_token: tumblr_oauth_token
oauth_token_secret: tumblr_oauth_token_secret
